# ===========================================
#  .dockerignore — FRONTEND
# ===========================================
#  Excluimos node_modules, builds anteriores,
#  y servicios que no le corresponden.
# ===========================================

node_modules
dist
.env
.env.local
*.md
.git
.gitignore
docker
BackEnd
python-services
